<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="dto : ${list}">
        [[${dto}]]
    </li>
</ul>

<!-- 반복문의 상태(state) 객체 -->
<ul>
    <li th:each="dto, state : ${list}">
        [[${state.index}]] -- [[${dto}]]
    </li>
</ul>

<!-- 제어문 처리 -->
<ul>
    <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">
        [[${dto}]]
    </li>
</ul>

<!-- 제어문 처리2 -->
<ul>
    <li th:each="dto, state : ${list}">
        <span th:if="${dto.sno % 5 == 0}" th:text="${'-------------'+dto.sno}"></span>
        <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
    </li>
</ul>

<!-- 제어문 처리3 : 3항 연산자 -->
<ul>
    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0 } ? ${dto.sno} : ${dto.first}">
    </li>
</ul>

<!-- Style 적용 -->
<style>
    .target {
        background-color: red;
    }
</style>
<ul>
    <li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0 } ?'target'" th:text="${dto}">
    </li>
</ul>

<!-- 3.2.3 th:block -->
<ul>
    <th:block th:each="dto: ${list}">
        <li th:text="${dto.sno % 5 == 0}?${dto.sno}:${dto.first}"></li>
    </th:block>
</ul>

</body>
</html>